# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/
env/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.nuxt
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
.docker/
docker-compose.override.yml

# Logs
logs/
*.log

# Database
*.sqlite
*.db

# Environment variables
.env*
!.env.example

# TensorFlow
*.h5
*.hdf5
*.ckpt
*.ckpt.*
*.pb
events.out.tfevents.*
.ipynb_checkpoints/
saved_model/
tensorboard/
checkpoints/
models/
graph.pbtxt
*.tfrecord
*.data-*
*.index
*.meta
*lock.json
.lock
tflite_model/
*_info.json
profiler_data/
timeline_*.json
summary/
variables/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terragrunt-cache/
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfstate.backup
crash.log 
tfplan
**/pgdata